img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

.headBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dehaze {
  display: none;
}

.logoMmobile {
  display: none;
}
.barItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.barItem li {
  display: flex;
}

.barItem li:hover {
  background-color: #eaf0ed;
}

.barItem a {
  padding: 10px;
}

.textItem {
  font-size: 16px;
  font-weight: bold;
  color: #3f5d45;
  line-height: 22px;
}

.banner {
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.filter {
  width: calc((100% - 40px) / 3);
  padding-right: 20px;
  flex-shrink: 0;
}
.filter a {
  font-size: 24px;
  font-weight: bold;
  line-height: 63px;
  color: #3f5d45;
  text-align: center;
  border: #eaf0ed 1px solid;
}

.filter .title {
  background-color: #3f5d45;
  color: #eaf0ed;
}

.filter .select {
  background-color: #eaf0ed;
  color: #3f5d45;
}
.macaronGroup {
  display: flex;
  justify-content: space-between;
}

.macaronGroup ul {
  margin-bottom: 20px;
  text-align: center;
}

.macaronGroup .macaron {
  height: 315px;
}

.kiwiImage {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/p-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.donutsImage {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/p-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.strawberryPieImage {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/p-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.caramelImage {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/p-4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.strawberryCakeImage {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/p-5.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.StrawberryCheeseImage {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/p-6.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.itemInfo {
  color: #3f5d45;
  text-align: center;
  font-size: 20px;
  line-height: 56px;
}

.itemInfo .itemName {
  border: 1px solid #eaf0ed;
  width: 171px;
}

.itemInfo .itemPrice {
  border: 1px solid #eaf0ed;
  width: 125px;
}

.addCart a {
  font-size: 24px;
  text-align: center;
  line-height: 65px;
  background-color: #eaf0ed;
  border: 1px solid #eaf0ed;
  color: #3f5d45;
}

.verticalText {
  height: 106.73px;
  background-color: #3f5d45;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  writing-mode: vertical-rl;
  text-align: center;
}

.page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 10px;
}

.page a {
  width: 58px;
  height: 58px;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f5d45;
  border: #eaf0ed 1px solid;
}

.page .select {
  background-color: #3f5d45;
  color: #eaf0ed;
}

.footer .subscription {
  background-color: #3f5d45;
}
.footer .main {
  margin: 0 auto;
  padding: 30px 0;
  width: 780px;
  justify-content: space-between;
}

.subscription span {
  font-size: 24px;
  line-height: 29px;
  color: #eaf0ed;
}

.subscription .inputGroup {
  display: flex;
  flex-basis: 380px;
  height: 56px;
}

.subscription .mail {
  height: 56px;
  flex-basis: 56px;
}

.mail img {
  padding: 16px 20px;
  background-color: #eaf0ed;
}

.subscription .textInput {
  padding: 0;
  border: 0;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #eaf0ed;
}

.subscription .arrowForward {
  height: 56px;
  flex-basis: 56px;
}
.arrowForward img {
  background-color: #ffe180;
  padding: 16px 20px;
}

.about {
  background-color: #eaf0ed;
  padding-bottom: 30px;
}
.about .d-flex {
  align-items: stretch;
}

.about .rightItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about .logoBottom {
  width: 171.22px;
}

.about .contact {
  color: #3f5d45;
  font-size: 16px;
  line-height: 24px;
}

.about .leftItem {
  writing-mode: vertical-rl;
  color: #3f5d45;
  line-height: 30px;
  font-size: 23px;
  font-family: "Noto Serif CJK TC", serif !important;
  font-weight: bold;
}

.leftItem .lineTwo {
  margin-top: 11.14px;
}

.about .share {
  display: flex;
}

.about .end {
  padding: 0 !important;
  align-items: flex-end;
}

.share img {
  width: 32px;
}

.about .copyright {
  color: #3f5d45;
  line-height: 19px;
  font-size: 16px;
  font-family: "Noto Serif CJK TC", serif !important;
}
@media (max-width: 967px) {
  .filter {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 30px;
  }
  .content {
    flex-wrap: wrap;
  }
  .macaronGroup ul {
    margin: 0 auto 30px;
  }
  .page {
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
  .logoMmobile {
    display: block;
  }
  .dehaze {
    display: block;
  }
  .barItem {
    display: none;
  }
  .mx-30 {
    margin: 0 30px;
  }
  .banner {
    margin-bottom: 0px;
  }
  .footer .main {
    margin: 0 auto;
    max-width: 315px;
  }
  .mx-md-auto {
    margin: auto;
  }
  .mb-md-23 {
    margin-bottom: 23px;
  }
  .mb-md-30 {
    margin-bottom: 30px;
  }
  .mb-md-40 {
    margin-bottom: 40px;
  }
  .about .leftItem {
    display: none;
  }
}
.d-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mr-8 {
  margin-right: 8px;
}

.ma-30 {
  margin: 30px;
}

.mr-20 {
  margin-right: 20px;
}
.mr-40 {
  margin-right: 40px;
}

.mr-59 {
  margin-right: 59px;
}

.mr-60 {
  margin-right: 60px;
}
.mx-auto {
  margin: 0 auto;
}
.w-50 {
  width: 50%;
}
